:root{
  --bg:#77a2b5;
  --card:#a968c2;
  --text:#222;
  --accent:#6c63ff;
  --success:#2ecc71;
}

body.dark{
  --bg:#2d2a2a10;
  --card:#29105e;
  --text:#100101;
  --accent:#020203;
  --success:#00e676;
}

body{
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:var(--bg);
  color:var(--text);
  transition:0.4s;
}

/* HEADER */
header{
  background:linear-gradient(45deg,#6c63ff,#8e7dff);
  color:white;
  text-align:center;
  padding:20px;
  position:relative;
}

.theme-btn{
  position:absolute;
  right:20px;
  top:20px;
  background:rgb(163, 116, 69);
  border:none;
  padding:8px 12px;
  border-radius:8px;
  cursor:pointer;
}

/* COUNTER */
.counter{
  display:flex;
  justify-content:center;
  gap:30px;
  font-size:18px;
  margin:20px;
}

/* FORM */
.form-container{
  background:var(--card);
  padding:20px;
  margin:20px;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,0.1);
  animation:fadeIn 1s;
}

input, textarea, select{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:8px;
  border:1px solid #ccc;
}

.add-btn{
  background:var(--accent);
  color:white;
  padding:10px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  transition:0.3s;
}

.add-btn:hover{
  transform:scale(1.05);
}

/* BOOK LIST */
.book-list{
  margin:20px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.book-card{
  background:var(--card);
  padding:15px;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,0.1);
  transition:0.4s;
  animation:slideIn 0.5s ease;
}

.book-card.completed{
  background:var(--success);
  color:rgba(255, 255, 255, 0.24);
}

.book-card button{
  margin:5px 5px 0 0;
  padding:6px 10px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

/* FOOTER */
footer{
  background:var(--card);
  padding:20px;
  margin-top:40px;
}

.footer-books{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
}

.footer-card{
  background:linear-gradient(45deg,#ff9a9e,#fad0c4);
  padding:15px;
  border-radius:10px;
  transition:0.4s;
}

.footer-card:hover{
  transform:translateY(-5px);
}

/* QUOTE */
.quote{
  text-align:center;
  font-style:italic;
  margin-top:15px;
}

/* TOAST */
.toast{
  position:fixed;
  bottom:20px;
  right:20px;
  background:var(--success);
  color:rgb(41, 65, 188);
  padding:12px 20px;
  border-radius:8px;
  display:none;
  animation:fadeIn 0.5s;
}

/* ANIMATIONS */
@keyframes slideIn{
  from{opacity:0; transform:translateX(-20px);}
  to{opacity:1; transform:translateX(0);}
}

@keyframes fadeIn{
  from{opacity:0;}
  to{opacity:1;}
}